*{
    font-family: "Times New Roman", Times, serif;
    margin:0;
    padding:0;
}

#header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar{
    max-width: 1060px;
    width: 90%;
    margin: auto;
}


#header_main{
    margin: auto;
    z-index: 2;
}

#title{
    height: 25px;
    width: 90%;
    max-width: 1060px;
    margin: 8px auto 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    display: block;
}

.iconList{
    list-style-type: none;
    width:100%;

}

.icon{
    margin:0 35px 0 0;
    float: left;
}
.icon h4{
    margin: 8px 0 0 0;
    color: darkgray;
}

.icon a:hover{
    text-decoration: none;
}

.icon a:hover p, .icon a:hover h4{
    color: white;
}

.icon p{
    margin: -3px 0 0 0;
    font-size:13px;
    color: darkgray;
}

#title img{

    width:200px;
    float:left;
    margin:5px;
}

.headerImage{
    position: sticky;
    top: 0;
    z-index: -1;
    background-color: black;
    width:100%;
    height: 60px;
}

.headerImage img{
    position: relative;
    opacity: 25%;
    display: inline;
    width: 100%;
    height: 100%;
}
footer{
    height: 60px;
    bottom: 0;
}
.footerImage{
    background-color: black;
    width:100%;
    height: 100%;
}

.footerImage img{
    opacity: 25%;
    width: 100%;
    height: 100%;
}

#container{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

#content{
    padding: 30px 0 0 0;
    margin: auto;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: row;

}

#firstColumn{
    text-align: center;
    flex:1;
    margin: 0 25px 0 0;
}

.image{
    margin:auto;
    text-align: center;
    position: relative;
    height: 8%;
    max-height: 60px;
    background-color: black;
}

.image img{
    max-height: 60px;
}

#scritta{
    width: 100%;
    margin: 5px 0;
    top: 0;
    font-size: 20px;
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
}



.floatleft{
    margin-top: 20px;
    float:left;
    color: deeppink;
    text-align: center;
    word-wrap: break-word;
    width: 86px;
}

.floatleft:first-line{
    font-size: 3em;
}

.text{
    text-align: justify;
    margin-top: 30px;
    font-size: 16px;
    line-height: 21px;
}

#firstColumn footer{
    margin-top: 10px;
    float:right;
    font-size: 15px;
}

#divider{
    margin:60px auto 0 auto;
    width:40%;
}

#secondColumn{
    flex:1;
}

#image-back{

    position: relative;
    width:100%;
    text-align: center;

}

#info{
    width: 100%;
    text-align: center;
    margin: auto;
}

#info p{
    position: absolute;
    display: block;
    text-align: center;
}

#info img{
    width: 100%;
    position: relative;
    text-align: center;
}

#p1{
    width: 100%;
    color:white;
    top:0;
    font-size: 40px;
}

#p2{
    width: 100%;
    color:white;
    top:20%;
    font-size: 20px;
}

#p3{
    top:35%;
    margin: auto;
    width: 40%;
    font-size: 25px;
    color: deeppink;
    background-color:white;
}

#p3_container{
    position:absolute;
    top:35%;
    margin:auto;
    width:100%;
    text-align: center;
}

#p4{
    top:80%;
    color:white;
    width: 100%;
}

.image2{
    margin: 25px auto 0 auto;
    text-align: center;
    position: relative;
    height: 13%;
    background-color: black;
}

.image2 img{
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 65%;
}

.image img{

    position: relative;
    height: 100%;
    width: 100%;
    opacity: 40%;
}

.image2 p{
    width:100%;
    position: absolute;
    display: block;
    text-align: center;
    z-index: 1;
    color: white;
}

#p5{
    top:10%;
    font-size: 20px;
}

#p6{
    margin-top: 20px;
    top:30%;
    font-size:60px
}

.floatleft_image{
    margin-right:10px;
    width:86px;
    float: left;

}

.floatleft_image img{
    width:100%;
}

.text2{
    text-align: justify;
    margin-top: 30px;
    font-size: 16px;
    line-height: 21px;
}

.text2:first-letter{
    font-size: 3em;
    color:deeppink;
}

#dropdown{
    display: none;
    padding:16px 0 16px 0;
    font-size: 16px;
    position: absolute;
    top: 0;

    float: right;
    cursor: pointer;
}

#dropbtn{

}

#text{

}

#dropbtn div{
    display: block;
    background-color: white;
    width:30px;
    margin-bottom: 5px;
    height: 2px;
    border-radius: 5px;
}

#dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    z-index: 1;
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown:hover #dropdown-content {display: block;}

#background_menu{
    z-index: 1;

}

.menu-content {
    top:0;
    font-family: 'Oswald', sans-serif;
    height: 249px;
    overflow: hidden;

}

#collapsable-menu {
    display: block;
    color:white;
    box-shadow: 1px 1px 1px;
}

#collapsable-menu ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: inline-block;
}

#collapsable-menu li{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.background_col{
    z-index: -1;
    background-color: black;
    width:100%;
    height: 100%;
}


.menu-content img{
    position: relative;
    width: 100%;
    height: 50px;
    opacity: 20%;
}

.icon2{
    text-decoration: none;
}

.icon2_menu{
    padding: 0 0 0 40px;
    top:30%;
    position: absolute;
}

.icon2_menu h4{
    top:20%;
    z-index: initial;
    color: lightgray;
    display: inline;
    margin: 0;

}

.icon2_menu p{
    top:20%;
    color: darkgray;
    display: inline;
    margin:0;
}

.underSection{
    display: block;
    z-index: initial;
    border: deeppink 3px solid;
}

#collapsable-menu a {
    text-decoration: none;
    font-size: 20px;

}

#menu-list h4:hover{
    color: #f1f1f1;
}



@media (max-width:946px){
    #p3{
        font-size: 20px;
    }
}

@media (max-width: 876px)
{

    #p6{
        font-size: 40px;
    }
}

@media (max-width: 762px){
    #title ul{
        display: none;
    }

    #content{
        flex-direction: column;
    }

    #firstColumn{
        margin: 0;
    }

    #dropdown{
        display: inline-block;
    }
}

@media (min-width:763px){
    #collapsable-menu{
        display: none;
    }
}